{% if ansible_facts['distribution_version'] is version('8.0.0', '>=')  %}
latest version!!
Version={{ ansible_facts['distribution_version'] }}
{% elif ansible_facts['distribution_version'] is version('7.0.0', '>=') %}
Migrating to the latest version is highly recommended!
Version={{ ansible_facts['distribution_version'] }}
{% else %}
Obsolete version! Not supported!!
Version={{ ansible_facts['distribution_version'] }}
{% endif %}
